@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 64% 98%;
  --foreground: 222 47% 11%;
  --muted: 213 27% 84%;
  --muted-foreground: 215 20% 65%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 201 94% 53%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply min-h-screen bg-slate-50 font-sans text-slate-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900;
  }

  input,
  textarea,
  select {
    @apply rounded-2xl border border-slate-200 focus:border-brand-500 focus:ring-brand-500;
  }

  button {
    @apply transition hover:opacity-90;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari and Opera */
    width: 0 !important;
    height: 0 !important;
  }
}

@layer components {
  input[type="radio"]:checked + div {
    @apply border-brand-600 bg-brand-50;
  }
}
